
<div class="jumbotron">
    <h1 class="display-3">Jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
    <input type="text" class="form-control" [(ngModel)]="username.name">
     <button (click)="addName()" class="btn btn-success btn-block">Add new name</button>
     
     <div *ngIf="editable; then added else noAdded"></div>
     
     <ng-template #added>
        <span class="badge badge-info">User Added SuccessFully</span>
     </ng-template>

     <ng-template #noAdded>
         <span  class="badge badge-info"> new User</span>
     </ng-template>

    <hr class="my-2">

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let myName of names">
            
            <i 
                (click)="changeStatus(myName)"
                [ngClass]="{
                    'fa-check-circle': myName.active,
                    'fa-check-circle-o': !myName.active
                }" 
                class="fa text-primary">
            </i> 

            <!--<span [class.text-primary]="myName.active">{{ myName.active }}</span>-->
            
            {{ myName.name }} 

            <div class="text-right">
                <button class="btn btn-dark btn-sm ml-1">Delete</button>
                <button class="btn btn-warning btn-sm ml-1">Edit</button>
            </div>

        </li>
    </ul>

    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div>