<h2 class="my-3">Menu</h2>

<ul class="list-group">
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
</ul>